<% settings = @badge_config.settings || {} %>
<img src='<%= settings['badge_url'] %>' style='float: left; margin-right: 20px;' class='thumbnail'/>
<h2><%= settings['badge_name'] || "Unnamed Badge" %></h2>
<p class='desc'><%= settings['badge_description'] %></p>

<% if @current_badge %>
  <div style="clear: left;" id="user"></div>
  <% if @user_config && @user_config.image %>
    <img src="<%= @user_config.image %>" class="avatar"/>
    <h2><a href="<%= @user_config.profile_url %>"><%= @current_badge.user_name %></a></h2>
  <% else %>
    <h2><%= @current_badge.user_name %></h2>
  <% end %>
  <% if @earned %>
    <p class="desc"><img src='/check.gif'/> Ce participant a rempli les conditions pour gagner ce badge<% if @current_badge.issued %>, et il lui a été decerné <%= @current_badge.issued.strftime("%d %b, %Y") %><% end %>.</p>
  <% else %>
    <p class="desc"><img src='/redx.gif'/> Ce participant n'a pas encore rempli les conditions nécéssaires pour recevoir ce badge.</p>
  <% end %>
  <div style="clear: left;"></div>
<% end %>

<% if settings['badge_requirements'] && settings['badge_requirements'] != '' %>
  <h3>Conditions d'obtention de ce badge :</h3>
  <p class='desc'>
    <%= settings['badge_requirements'] %>
  </p>
<% end %>
<% if settings['hours'] %>
  <h3>Temps de travail estimé (en heures) : <%= settings['hours'] %></h3>
<% end %>
<% org = @badge_config.organization %>
<% settings = (org && org.settings) || BadgeHelper.issuer %>
<p class="verification">
  <img src='<%= settings['image'] %>'/>
  Ce badge <%= @current_badge && @current_badge.awarded? ? "a été" : "est" %> decerné par 
  <%= settings['name'] %></a>. 
<% if false %>
It is hosted at
 <%= (org && org.host) || request.host %>.
<% end %>
  <span style="clear: left;"></span>
</p>

<div style='clear: left; padding-bottom: 10px;'></div>
