<% if !@badge.awarded? || !@badge_placement_config.evidence_required? %>
  <form class='well form-horizontal' style="margin-top: 15px;" rel="/badges/<%= @badge.id %>?badge_id=<%= @badge.nonce %>">
    <label>
      <%= I18n.t("partials.evidence_url.label") %>
      <% label = @badge_placement_config.evidence_required? ? I18n.t('partials.evidence_url.url_required'): I18n.t('partials.evidence_url.url_optional') %>
      <input id="evidence_url" type="text" value="<%= @badge.evidence_url %>" name="evidence_url" placeholder="<%= label %>" title="<%= label %>"/>
    </label>
  </form>
<% end %>